
@import '../../../ecommerce/user-profile/account/account.component.scss';
.ad-list1{
    width: 60%;
    display: block;
    margin: 0 auto;
}
.delivery-details-container{
    width:90%;
    margin: 0 auto;
}