.cart-data{
    margin-top: 9px!important;
   // background: #67148a!important;
    color: #fff;
    padding: 25px;
    .mat-list-item{
        background-color: #fff;
        margin: 12px;

     // border-bottom: 1px solid #000;
    }
  .checkout{
      float: right!important;
      right:0;
     
  }
  .checkout-box{
    color: #3a3737;
    padding: 10px;
  }
    img{
        width:65px;
        height: 65px;
        padding: 15px;
    }
  }