.mat-raised-button{
    width: 100%;
    padding-left: 10px;
    text-align: left !important;
    font-size: small;
    box-shadow: none!important;
}

.badge{
    float: right;
}

.badge div{
display: inline;
border-radius: 30px;
background-color: darkmagenta;
color: white;
padding: 4px 7px;
}