<div class="custom-width">

  <!-- <div class="custom-close" >
      <mat-icon (click)="closeAddressForm()">close</mat-icon>
  </div> -->

  <form [formGroup]="ResetPasswordForm" (ngSubmit)="resetPassword(ResetPasswordForm.value)">
    <div class="sec-title">Reset Password</div>
    <mat-form-field class="form-control">
      <input matInput type="password" autocomplete placeholder="Old Password" formControlName="oldPassword" required>
      <control-messages [control]="ResetPasswordForm.controls.oldPassword"></control-messages>
    </mat-form-field>
    <mat-form-field class="form-control">
      <input matInput type="password" autocomplete placeholder="New Password" formControlName="newPassword" required>
      <control-messages [control]="ResetPasswordForm.controls.newPassword"></control-messages>
    </mat-form-field>
    <mat-form-field class="form-control">
      <input matInput type="password" autocomplete placeholder="Confirm Password" formControlName="confirmPassword" required>
      <control-messages [control]="ResetPasswordForm.controls.confirmPassword"></control-messages>
    </mat-form-field>

    <div class="profile-button-container">
      <button mat-raised-button class="custom-button" color="accent" type="submit">
        <span>Save</span>
      </button>
    </div>


  </form>

</div>