.success{
    width: 290px;
    left: 0px;
    height: 120px;
    text-align: center;
    padding-top: 8px;
    top: -15px;
    position: absolute;
    // background-color: #67148a;
    color: #fafafa;
    line-height: 20px;
    margin-top: 1px;
}