<!-- /.content-wrapper-->
<footer class="sticky-footer">
    <mat-toolbar color="accent">
        <table style="width:100%">
            <tr>
                <td>
                    <small>{{l.GetString('MadeInIndia')}}</small>
                </td>
                <td>
                    <small>{{l.GetString('Copyright')}} &copy; {{Company}} {{Year}}</small>
                </td>
                <td>
                    <small>{{gs.GetTitle()}}</small>
                </td>
            </tr>
        </table>
    </mat-toolbar>
</footer>
<!-- Scroll to Top Button-->