/*
Login template using Angular Material
*/

.appHeader {
    color: #fff;
    // background-color: #e91e63;
    text-align: center;
    padding: 1%;
    -webkit-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
    -moz-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
    box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
  }
  
  .loginCard {
    max-width: 40%;
    margin: 2em auto;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  // .fieldIcon {
  //   // margin-right: 10px;
  // }  
  
  
  #logo {
      font-weight: 900;
      padding: 15px 10px;
      display: block;
  }
.mat-form-field{
    display: block;
    position:unset;
    width: 80%;
    margin: 0 auto;
}  