<mat-toolbar class="header" *ngIf="headerStyle1" color="accent">
    <div fxShow="true" fxHide.lt-md="true">
      <span class="logo">HOROLAB</span>
  
      <span class="example-spacer"></span>
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <a [ngStyle]="colorConstant.Button" mat-button *ngFor="let link of navLinks" [routerLink]="link.path">
        {{link.label}}
      </a>
      <div class="account-info">
        <button [ngStyle]="colorConstant.Button" mat-raised-button *ngIf='!userData' [routerLink]="['/login']">Login/Register</button>
        <!-- <mat-icon matBadge="15" matBadgeColor="warn">add_shopping_cart</mat-icon> -->
  
        <button [ngStyle]="colorConstant.Button" mat-icon-button>
          <mat-icon style="padding-left: 8px" matBadge="" [matMenuTriggerFor]="cart" matBadgeColor="warn">add_shopping_cart</mat-icon>
        </button>
        <mat-menu #cart="matMenu" xPosition="before" yPosition="below" [overlapTrigger]="false">
          <mat-list class="cart-data">
            <mat-list-item *ngFor="let cart of cartData">
              <h4 matLine>{{cart.modelNo}}</h4>
              <p mat-line>Price: 200$ </p>
              <mat-icon>close</mat-icon>
            </mat-list-item>
          </mat-list>
        </mat-menu>
        <button [ngStyle]="colorConstant.Button" *ngIf='userData' mat-button [matMenuTriggerFor]="profile" class="userMenu"> {{userData.loginSuccess.name}}
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #profile="matMenu" yPosition="below" [overlapTrigger]="false">
          <button mat-menu-item [routerLink]="['/ecommerce/user-profile/account']">Profile</button>
          <button mat-menu-item (click)="signOut()">
            <mat-icon>power_settings_new</mat-icon>Sign Out</button>
        </mat-menu>
      </div>
    </div>
  
    <div fxShow="true" fxHide.gt-sm="true">
  
      <a (click)="sidenav.toggle()" class="custom-menu">
        <i class="material-icons">
          menu
        </i>
      </a>
      <span>HOROLAB</span>
  
      <mat-icon class="add-to-cart" matBadge="" matBadgeColor="warn">add_shopping_cart</mat-icon>
    </div>
  
  </mat-toolbar>
  
  <div *ngIf="headerStyle2">
  <div fxShow="true" fxHide.lt-md="true">
  <mat-toolbar color="accent">
      <mat-toolbar-row class="top-toolbar">
        <span fxlayoutalign="center center" fxshow="false" fxshow.gt-xs="">
          <mat-icon>call</mat-icon> Hotline: (+100) 123 456 7890 </span>
        <div class="account-info">
          <button mat-button *ngIf='!userData' [routerLink]="['/login']">Login/Register</button>
          <button *ngIf='userData' mat-button [matMenuTriggerFor]="profile" class="userMenu">
            <mat-icon>person</mat-icon> {{userData.loginSuccess.name}}
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #profile="matMenu" xPosition="after" class="custom-matmenu" yPosition="below" [overlapTrigger]="false">
            <button mat-menu-item [routerLink]="['/ecommerce/user-profile/account']">
              <mat-icon>dialpad</mat-icon>
              <span>User Profile</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="signOut()">
              <mat-icon>power_settings_new</mat-icon>Sign Out</button>
          </mat-menu>
        </div>
      </mat-toolbar-row>
      <mat-toolbar-row class="second-toolbar">
        <span class="logo1">HOROLAB</span>
        <div class="hrsearch">
          <form role="search">
            <div class="search-product">
              <input type="search" id="mySearch" name="q" placeholder="Search product Item..." aria-label="Search product Item">
              <i class="material-icons search-align" color="accent">&#xE8B6;</i>
            </div>
          </form>
        </div>
        <button [ngStyle]="colorConstant.Button" mat-button [matMenuTriggerFor]="cart">
          <mat-icon>shopping_cart</mat-icon> Shopping Cart
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #cart="matMenu" xPosition="before" yPosition="below" [overlapTrigger]="false">
          <mat-list class="cart-data">
            <mat-list-item *ngIf="cartData">
              <b>{{cartData.length}} Item</b>
            </mat-list-item>
            <div class="divider"></div>
            <mat-list-item *ngFor="let cart of cartData">
              <h3 matLine class="text-title1">{{cart.modelNo}}</h3>
              <p mat-line class="text-title1">Price:$200 </p>
              <img class="cart-image" alt="image" src="../../assets/image/image1.png">
              <mat-icon color="warn">close</mat-icon>
            </mat-list-item>
            <div class="divider"></div>
            <mat-list-item>
              <b>Total:
                <span color="warn">$350.00 </span>
              </b>
            </mat-list-item>
          </mat-list>
        </mat-menu>
      </mat-toolbar-row>
      <mat-toolbar-row class="third-toolbar">
        <div class="headerrow3">
          <a mat-button *ngFor="let link of navLinks" [routerLink]="link.path">
            {{link.label}}
          </a>
        </div>
      </mat-toolbar-row>
  
  </mat-toolbar>
     </div>
     
        <div   fxShow="true" fxHide.gt-sm="true">
            <mat-toolbar color="accent">
            <a (click)="sidenav.toggle()" class="custom-menu">
              <i class="material-icons">
                menu
              </i>
            </a>
            <span>HOROLAB</span>
        
            <mat-icon class="add-to-cart" matBadge="" matBadgeColor="warn">add_shopping_cart</mat-icon>
          </mat-toolbar>
          </div>
     
  
    </div>

  <mat-sidenav  class="custom-sidenav" #sidenav fxLayout="column">

    <div fxLayout="column" color="accent">

      <div *ngFor="let link of navLinks">
        <button (click)="sidenav.toggle()" mat-menu-item [routerLink]="link.path">{{link.label}}</button>
        <mat-divider></mat-divider>
      </div>


      <button *ngIf='userData' mat-menu-item [routerLink]="['/ecommerce/user-profile/']">Profile</button>
      <mat-divider></mat-divider>
      <button mat-raised-button *ngIf='!userData' [routerLink]="['/login']">Login/Register</button>
      <button mat-menu-item *ngIf='userData' (click)="signOut()">
        <mat-icon>power_settings_new</mat-icon>Sign Out</button>
      <mat-divider></mat-divider>

      <a (click)="sidenav.toggle()" color="primary" href="#" mat-button>Close</a>
    </div>

  </mat-sidenav>