<div>
  <section>
    <h2>Oh Snap!</h2>
    <h4>The requested URL is
      <u matTooltip="404 Error">Not Found</u> at server</h4>
    <span>
      <mat-progress-bar mode="buffer"></mat-progress-bar>
      <table>
        <tr>
            <td [style.textAlign]="'left'">
              <mat-icon color="accent">laptop</mat-icon>
            </td>
            <td>
                <mat-icon color="warn">warning</mat-icon>
            </td>
            <td [style.textAlign]="'right'">
                <mat-icon color="primary">cloud_queue</mat-icon>
            </td>
        </tr>
      </table>
    </span>
    <p>Please Check the URL or let's go
      <a href="/#/admin/dashboard">Home</a>
    </p>
  </section>
</div>